body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifArial, sans-serif;
  background: #acabca;


}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}







